.idea


dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp

### Scala ###
*.class
*.log

# End of https://www.toptal.com/developers/gitignore/api/scala,sbt,intellij

.metals

metals.sbt

.bloop
.updates.lock